<footer class="site-footer">
  <small>
    This project is maintained by <a href="mailto: drtrashdad@gmail.com">"Tyson"</a> 
    and check out his twitter: <a href="https://twitter.com/drtrashdad">dr.trashdad</a>.
    and join <a href="https://www.flexspotff.com/">the Discord community</a>.
  </small>
</footer>
