<footer class="site-footer">
  <small>
    This project is maintained by <a href="mailto: drtrashdad@gmail.com">"Tyson"</a> 
     <a href="https://twitter.com/drtrashdad">dr.trashdad</a>.
    Check out the <a href="https://www.flexspotff.com/">the Discord community</a>.
  </small>
</footer>
